<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Manage Users</title>
</head>
<body>
<th:block th:replace="~{fragments/home-button :: homeButton}"></th:block>
<th:block th:replace="~{fragments/logout-button :: logoutButton}"></th:block>
<h2>Admin Panel - Manage Users</h2>

<div>
    <table border="1">
        <thead>
        <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.firstName} + ' ' + ${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.active ? 'Active' : 'Inactive'}"></td>
            <td>
                <form th:action="@{'/admin/users/' + ${user.id} + '/status'}" th:method="POST">
                    <input type="hidden" name="status" th:value="${user.active} ? 'deactivate' : 'activate'">
                    <button type="submit" th:text="${user.active} ? 'Deactivate' : 'Activate'"></button>
                </form>

                <form th:action="@{'/admin/users/' + ${user.id} + '/role'}"  th:method="POST">
                    <button type="submit" th:if="${user.userRole.name() == 'ADMIN' && user.username != 'admin'}">Demote</button>
                    <button type="submit" th:if="${user.userRole.name() != 'ADMIN' && user.username != 'admin'}">Promote</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>
