<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

<main>
    <div>
        <h3 th:text="'Welcome ' + ${user.username} + '!'"></h3>

<!--        can be accessed by everyone-->
        <form th:action="@{/users/search}" method="get">
            <label for="search">Search:</label>
            <input type="text" id="search" name="username" placeholder="Enter username">
            <button type="submit">Search</button>
        </form>
        <br>
        <a th:href="@{'/users/' + ${user.id} + '/profile'}"><button>View Profile</button></a>

        <br><br>

        <a th:href="@{/programs}"><button>Browse Programs</button></a>
        <a th:href="@{/exercises}"><button>Browse Exercises</button></a>
        <br><br>

<!--        ADMIN-->
        <div th:if="${user.userRole.name() == 'ADMIN'}">
            <a th:href="@{/admin/exercises/review}"><button>Review Exercises</button></a>
            <a th:href="@{/admin/users}"><button>Manage Users</button></a>
            <br><br>
        </div>

<!--        USER-->
        <div th:if="${user.userRole.name() == 'USER'}">
            <a th:href="@{'/users/' + ${user.id} + '/workouts'}"><button>Your Workouts</button></a>
            <a th:href="@{'/users/' + ${user.id} + '/exercises'}"><button>Your Exercises</button></a>
            <a th:href="@{/exercises/submit}"><button>Submit Exercise</button></a>
            <div>
                <p><strong>Current Program:</strong></p>
                <p>Mon / Tues / Wed / Thur / Fri / Sat / Sun</p>

                <ul>
                    <li>Day 1 - [Different Exercises] <button>✔</button></li>
                    <li>Day 2 - [Different Exercises] <button>✔</button></li>
                    <li>Day 3 - [Different Exercises] <button>✔</button></li>
                    <li>Day 4 - [Different Exercises] <button>✔</button></li>
                    <li>Day 5 - [Different Exercises] <button>✔</button></li>
                </ul>

                <p>Click the ✔ button to mark exercises as completed.</p>
            </div>
            <br><br>
        </div>


<!--        logout-->
        <section>
            <form th:action="@{/logout}">
                <button type="submit">Logout</button>
            </form>
        </section>

</main>

</body>
</html>
