<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/init.css">
    <link rel="stylesheet" type="text/css" href="/css/log-workout.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Log Workout</title>
</head>

<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<body>

<div class="log-workout-container">
    <h2 class="log-workout-title" th:text="'Log Workout - ' + ${dayOfWeek}"></h2>

    <div class="log-workout-meta">
        <p class="log-workout-info" th:if="${workoutResponse.additionalInfo != null and !workoutResponse.additionalInfo.isEmpty()}">
            <strong>Additional Info:</strong> <span th:text="${workoutResponse.additionalInfo}"></span>
        </p>
        <p class="log-workout-duration" th:if="${workoutResponse.approximateDuration != null}">
            <strong>Approximate Duration:</strong> <span th:text="${workoutResponse.approximateDuration + ' min'}"></span>
        </p>
    </div>

    <form class="log-workout-form" th:action="@{'/logs/' + ${dayOfWeek} + '/' + ${workoutResponse.workoutId}}" method="post" th:object="${workoutLogRequest}">

        <div class="log-workout-error" th:if="${null != error}">
            <p th:text="${error}">All added sets must be > 0, reps > 0, added weight >= 0</p>
        </div>

        <div th:each="exercise, iterStat : ${workoutResponse.exercises}" class="log-workout-exercise">
            <h3 class="log-workout-exercise-name" th:text="${exercise.exerciseName}"></h3>

            <div class="info-exercise">
                <div class="img">
            <img class="log-workout-exercise-image"
                 th:if="${exercise.mediaUrl != null}"
                 th:src="${exercise.mediaUrl}"
                 alt="Exercise Image">
                </div>
                <div class="info-log">
            <p class="log-workout-exercise-target">
                <strong>Target:</strong>
                <span th:text="'Sets: ' + ${exercise.sets} + ', Reps: ' + ${exercise.reps} + ', Weight: ' + ${exercise.addedWeight} + 'kg'"></span>
            </p>

            <div class="log-workout-form-group">
                <label class="log-workout-label">Completed Sets:</label>
                <input class="log-workout-input"
                       type="number"
                       th:field="*{loggedExercises[__${iterStat.index}__].sets}">
            </div>

            <div class="log-workout-form-group">
                <label class="log-workout-label">Completed Reps:</label>
                <input class="log-workout-input"
                       type="number"
                       th:field="*{loggedExercises[__${iterStat.index}__].reps}">
            </div>

            <div class="log-workout-form-group">
                <label class="log-workout-label">Added Weight (in kg, optional):</label>
                <input class="log-workout-input"
                       type="number"
                       th:field="*{loggedExercises[__${iterStat.index}__].addedWeight}"
                       step="0.125">
            </div>
                </div>
            <input type="hidden"
                   th:field="*{loggedExercises[__${iterStat.index}__].exerciseId}"
                   th:value="${exercise.exerciseId}">
            </div>
        </div>

        <button class="log-workout-submit" type="submit">Log Workout</button>
    </form>
</div>

</body>
</html>