<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Profile</title>
</head>
<body>

<section>
    <img th:src="${user.profilePicture}" alt="Profile Picture" width="150" height="150">
</section>

<section>
    <h2 th:text="${user.username}">Username</h2>
    <p><strong>Full Name:</strong> <span th:text="${user.firstName} + ' ' +  ${user.lastName}"></span></p>
    <p><strong>Country:</strong> <span th:text="${user.country}"></span></p>
    <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
    <p><strong>Joined Date:</strong> <span th:text="${#temporals.format(user.getCreatedOn(), 'yyyy-MM-dd')}"></span></p>
</section>

<section th:if="${loggedUserId == user.id}">
    <a th:href="@{/profile/edit}">
        <button>Edit Profile</button>
    </a>
</section>

<!-- Show Shared Programs if Viewing Another User's Profile -->
<section th:if="${loggedUserId != user.id}">
    <h3>Shared Programs</h3>
    <ul>
<!--        tuka trqbva da sa samo spodelenite-->
        <li th:each="program : ${user.programs}">
            <a th:href="@{/program/{id}(id=${program.id})}" th:text="${program.name}"></a>
        </li>
    </ul>
</section>

</body>
</html>
